<div class="form" class="col-md-12 col-sm-12">
    <div class="container">
        <h2>Sign In</h2>
        <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" [pattern]="emailPattern" [(ngModel)]="user.email" placeholder="Enter email" name="email" #userEmail="ngModel" required>
                <div *ngIf="userEmail.errors && loginForm.submitted">
                    <div *ngIf="!userEmail.errors.required && userEmail.errors.pattern">
                        <small style="color:red"> Email is not valid.</small>

                    </div>
                    <div *ngIf="userEmail.errors.required">
                        <small style="color:red"> *this field is required.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" minlength="8" [(ngModel)]='user.password' placeholder="Enter password" name="pswd" #pwd="ngModel" (change)="resetconfirmpwd()" required>
                <div *ngIf="pwd.errors && loginForm.submitted">
                    <div *ngIf="!pwd.errors.required && pwd.errors.minlength">
                        <small style="color:red"> Minimum 8 characters required.</small>
                    </div>
                    <div *ngIf="pwd.errors.required">
                        <small style="color:red"> *this field is required.</small>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary text-center">Sign In</button>
        </form>
    </div>
</div>